<h1>New Post</h1>
<form>
<label for="post_title">Title</label>
<input type="text" name="post[title]" id="post_title" value="<%= post.get('title')%>">
<label for="post_body">Body</label>
<input type="text" name="post[body]" id="post_body" value="<%= post.get('body')%>">
<input type="submit" value="Submit">
</form>